<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pacientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Pacientes Cadastrados</h1>
        <div>
            <a href="/admin/dashboard" class="btn btn-secondary">Voltar para a Dashboard</a>
            <a href="/pacientes/novo" class="btn btn-primary">Novo Paciente</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paciente : ${pacientes}">
            <td th:text="${paciente.id}"></td>
            <td th:text="${paciente.nome}"></td>
            <td th:text="${paciente.cpf}"></td>
            <td>
                <a th:href="@{/pacientes/editar/{id}(id=${paciente.id})}" class="btn btn-sm btn-warning">Editar</a>
                <a th:href="@{/pacientes/excluir/{id}(id=${paciente.id})}" class="btn btn-sm btn-danger" onclick="return confirm('Tem a certeza que deseja excluir?');">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>